@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,400,400i,600,600i,700,700i|Raleway:200,200i,400,400i,500,500i,600,600i,700,700i|Satisfy');

.navcls{
    font-family: "Raleway", sans-serif;
  }
  
  .navcls a {
    color: #ffb727;
    text-decoration: none;
  }
  
  .navcls a:hover {
    color: #ffc85a;
    text-decoration: none;
  }
  
  .navcls  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
// // Comn till Here

  .navcls #header {
    z-index: 997;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 70px;
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navcls #header.header-scrolled {
    height: 60px;
    // Fallback for browsers without backdrop-filter support
    background: rgba(25, 28, 31, 0.85) !important;
    // Modern browsers with backdrop blur
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .navcls #header.header-transparent {
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: none;
    border-bottom: none;
  }

  // Ensure smooth transition for all properties
  .navcls #header * {
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  // Hamburger Menu Animation
  .navbar-toggler {
    margin-top: 15px;
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 2px rgba(255, 183, 39, 0.5);
    border-radius: 4px;
  }

  .navbar-toggler:active {
    transform: scale(0.95);
  }

  .hamburger-box {
    display: inline-block;
    width: 30px;
    height: 24px;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    
    &,
    &::before,
    &::after {
      width: 30px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 3px;
      position: absolute;
      transition: all 0.3s ease;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }

  // Active state (X transformation)
  .navbar-toggler.active {
    .hamburger-inner {
      background-color: transparent;
      transition: background-color 0.1s ease;

      &::before {
        top: 0;
        transform: rotate(45deg);
        background-color: #ffb727;
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        background-color: #ffb727;
      }
    }
  }

  // Hover effect
  .navbar-toggler:hover .hamburger-inner,
  .navbar-toggler:hover .hamburger-inner::before,
  .navbar-toggler:hover .hamburger-inner::after {
    background-color: #ffb727;
  }

  .navbar-toggler.active:hover .hamburger-inner {
    background-color: transparent;
  }
  
  .collapsed {
    margin-top: 0px;
  }
 
  

  .navcls .navbar {
    padding: 0;
  }
  
  .navcls  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navcls .navbar li {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .navcls .navbar a {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 10px 15px;
    color: #fff;
    white-space: nowrap;
    transition: all 0.3s ease;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
  }
  
  // Active state underline indicator
  .navcls .navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ffb727 0%, #ff9500 100%);
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  // Active state styling
  .navcls .navbar a.active {
    color: #ffb727;
  }
  
  .navcls .navbar a.active::after {
    width: 80%;
    opacity: 1;
  }
  
  // Hover state
  .navcls .navbar a:hover {
    color: #ffb727;
    transition: all 0.3s ease;
  }
  
  .navcls .navbar a:hover::after {
    width: 60%;
    opacity: 0.6;
  }
  
  // Prevent underline on contact button
  .navcls .navbar a.resumeFont::after {
    display: none;
  }
  
  .navcls .navbar a.resumeFont.active {
    color: black;
    background-color: #ffb727;
  }
  
  .navcls .navbar a.resumeFont:hover {
    color: #fff;
  }
  
//   .navcls .navbar .dropdown ul {
//     display: block;
//     position: absolute;
//     left: 14px;
//     top: calc(100% + 30px);
//     margin: 0;
//     padding: 10px 0;
//     z-index: 99;
//     opacity: 0;
//     visibility: hidden;
//     background: #fff;
//     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
//     transition: 0.3s;
//     border-radius: 4px;
//   }
  
//   .navcls .navbar .dropdown ul li {
//     min-width: 200px;
//   }
  
//   .navcls .navbar .dropdown ul a {
//     padding: 10px 20px;
//     font-size: 14px;
//     text-transform: none;
//     font-weight: 400;
//     color: #3b434a;
//     letter-spacing: 1px;
//     font-family: "Raleway", sans-serif;
//   }
  
//   .navcls .navbar .dropdown ul a i {
//     font-size: 12px;
//   }
  
//    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
//     color: #ffb727;
//   }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
//   .navbar .dropdown .dropdown ul {
//     top: 0;
//     left: calc(100% - 30px);
//     visibility: hidden;
//   }
  
//   .navbar .dropdown .dropdown:hover > ul {
//     opacity: 1;
//     top: 0;
//     left: 100%;
//     visibility: visible;
//   }
  
//   @media (max-width: 1366px) {
//     .navbar .dropdown .dropdown ul {
//       left: -90%;
//     }
//     .navbar .dropdown .dropdown:hover > ul {
//       left: -100%;
//     }
//   }
  
//   /**
//   * Mobile Navigation 
//   */
//   .mobile-nav-toggle {
//     color: #fff;
//     font-size: 28px;
//     cursor: pointer;
//     display: none;
//     line-height: 0;
//     transition: 0.5s;
//   }
  
//   @media (max-width: 991px) {
//     .mobile-nav-toggle {
//       display: block !important;
//     }
//     .navbar ul {
//       display: none !important;
//     }
//   }
  
//   .navbar-mobile {
//     position: fixed;
//     overflow: hidden;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     background: rgba(36, 41, 46, 0.9);
//     transition: 0.3s;
//     z-index: 999;
//   }
  
//   .navbar-mobile .mobile-nav-toggle {
//     position: absolute;
//     top: 15px;
//     right: 15px;
//   }
  


//   .navbar-mobile ul {
//     display: block;
//     position: absolute;
//     top: 55px;
//     right: 15px;
//     bottom: 15px;
//     left: 15px;
//     padding: 10px 0;
//     border-radius: 10px;
//     background-color: #fff;
//     overflow-y: auto;
//     transition: 0.3s;
//   }
  
//   .navbar-mobile a {
//     padding: 10px 20px;
//     font-size: 14px;
//     color: #3b434a;
//   }
  
//   .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
//     color: #ffb727;
//   }
  
//   .navbar-mobile .getstarted {
//     margin: 15px;
//   }
  
//   .navbar-mobile .dropdown ul {
//     position: static;
//     display: none;
//     margin: 10px 20px;
//     padding: 10px 0;
//     z-index: 99;
//     opacity: 1;
//     visibility: visible;
//     background: #fff;
//     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
//   }
  
//   .navbar-mobile .dropdown ul li {
//     min-width: 200px;
//   }
  
//   .navbar-mobile .dropdown ul a {
//     padding: 10px 20px;
//   }
  
//   .navbar-mobile .dropdown ul a i {
//     font-size: 12px;
//   }
  
//   .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
//     color: #ffb727;
//   }
  
//   .navbar-mobile .dropdown > .dropdown-active {
//     display: block;
//   }
  
//   .navcls h1{
//     position: absolute;
   
// }
// .navcls h1 span{
//     opacity:0;
//     display: inline-block;
//     animation: amin 1s linear forwards;
// }



// .navcls a.clickhere{
 
//     color: #ffb727;
// text-decoration: none;
   
// }

// .navcls a.clickhere:hover{
//     color: #e9ba5b;
//     cursor: pointer;
//     font-size: 1.03rem;

// }


// contact button
.navcls a.resumeFont{
  
    color: black;
       border: 2px #ffB727 solid;
           background-color:#ffB727;
       padding: 1rem 1rem;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        transition: ease-in-out 0.3s;
        outline: none;
        height: 4vh;

}
 
.navcls a.resumeFont:hover{



color: #fff;
cursor: pointer;
border-color:#fff ;
    background-color:transparent;

    }


    .navcls a.resumeFont:before{
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background-color:transparent;


    
        
        }

        .navcls a.resumeFont:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 5px;

    }

  
    @media only screen and (max-width: 991px){
    
      // .navbar-brand{
      //     font-size: 1.5 rem !important;
      // }
    .navcls .navbar{ 
      display: block;
      width: 100%;
    
    }
      .navcls  .navbar ul {
        display: block;
            margin-top: 2em;
        padding: 10px 0;
        border-radius: 10px;
        background: linear-gradient(to bottom left,#000,#1b2026);
        transition: 0.3s;
        height: 100vh;
        padding-top:1em ;
        
      }
      
      .navcls  .navbar ul li{
        margin-top: 2rem;   
        margin-bottom: 2rem;
      }
    
      .navcls  .navbar ul li a{
    justify-content: center !important;
    }
    
    // Active state on mobile
    .navcls .navbar a.active {
      color: #ffb727;
      font-weight: 700;
    }
    
    .navcls .navbar a.active::after {
      width: 50%;
    }
    
    .navcls  .navbar ul li  .resumeFont{
      justify-content: center !important; 
      margin-left: 4em;
      margin-right: 4em; 
    }
    
    .navcls a.resumeFont{
      
      color: black;
         border: 2px #ffB727 solid;
             background-color:#ffB727;
         padding: 1rem 1rem;
          border-radius: 5px;
          position: relative;
          z-index: 1;
          transition: ease-in-out 0.3s;
          outline: none;
          height: 6vh;
          margin-bottom: 3rem;
    
    }
    
    }

    
@keyframes amin{
    0%{
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
    
}




